:root {
    --customColor : rgba(116,81,235,1);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.capitalized {
    text-transform: capitalize;
}

a, text, p {
    color: black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.button-White {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: 700;
}

.button-White:hover {
    background-color: var(--customColor);
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    height: 20px;
    border-width: 1px;
    border-radius: 5px;
}


button {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-self: center;

    align-items: center;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: 600;

    background-color: var(--customColor);
    color: beige;
}

.margin-bottom {
    margin-bottom: 15px;
}

.mat-mdc-card {
    background-color: rgb(242, 242, 242) !important;
    border-radius: 16px !important;
    padding: 1rem;

    mat-card-header {
        justify-content: center;
    }

    mat-card-title {
        h2 {
          font-size: 18px;
          font-weight: 550;
          text-align: left;
          margin: 0 0 8px 0;
          width: 100%;
        }
    }

    mat-card-subtitle {
        div {
            display: flex;
            p {flex-grow: 1;}
            p+p {flex-grow: 2;}
            text-align: left;
            justify-content: space-around;
            align-items: unset;
        }
    }

    mat-card-content {
        p {
          font-size: 14px;
          text-align: left;
          margin: 0 0 16px 0;
          width: 100%;
        }
    }
}

.mat-divider {
    border-top-color: black;
}

.custom-mat-divider {
    width: 95%;
    justify-self: center;
}

.mat-mdc-form-field {
  --mdc-outlined-text-field-outline-color: var(--customColor);
  --mdc-outlined-text-field-focus-outline-color: var(--customColor);
  --mdc-outlined-text-field-hover-outline-color: var(--customColor);
}
