
.profil-form {

    mat-card {
        box-shadow: none !important;
        background-color: white !important;
    }


    h2 {
        display: flex;
        justify-content: center;
    }

    .center {
        align-items: center;
        
        
    }

    button.red {
        color: red;
    }
}

.profil-me-subs {

    .mat-divider {
        border-top-color: black;
    }

    .subsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    h2 {
        display: flex;
        justify-content: center;
    }

    .custom-mat-divider {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 900px) {
    .sub {
        width: calc(50% - 40px);
    }
}